@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

body {
    font-family: "Inter", sans-serif;
    background-color: rgb(18, 14, 14);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header site style */
.container-header {
    width: 1460px;
    height: 715px;
    margin: 0 auto;
    background: linear-gradient(180deg, #111111 0%, rgba(119, 119, 119, 0) 100%);
   
}

.navbar-title-container {
    width: 1060px;
    height: 46px;
    margin: 57px auto;
    display: flex;
    justify-content: space-between;
}

.title-content {
    color: rgba(230, 83, 60, 1);
    font-size: 2.125rem;
    font-style: italic;
    font-weight: 800;
    text-align: left;
    align-items: center;

}

.Home {
    background-color: rgba(230, 83, 60, 1);
    color: rgba(255, 255, 255, 1);
    font-size: 1.125rem;
    font-weight: 600;
    padding: 8px 20px 8px 20px;
    gap: 10px;
    border-radius: 46px;
    border: 1px solid rgba(230, 83, 60, 1);
    cursor: pointer;
}

.navbar-content {
    display: flex;
    font-size: 1.125rem;
    font-weight: 600;
    text-align: left;
    width: 465px;
    height: 46px;
    padding: 4px;
    gap: 47px;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 42px;
    border: 1px solid red;
}

.navbar-content a {
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
}


/* bannar style here */

.bannar-container {
    display: flex;
    position: relative;
}

.title-bannar {
    width: 520px;
    height: 440px;
    gap: 28px;
    margin: 96px 190px 76px 78px;
}

.title-bannar h1 {
    font-size: 4.875rem;
    font-weight: 900;
    line-height: 93.6px;
    text-align: left;
    color: #FFFFFF;
}

.title-bannar p {
    font-size: 1rem;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.5px;
    text-align: left;
    color: rgba(255, 255, 255, 0.5);
}

.shape {
    font-size: 4.875rem;
    font-style: italic;
    font-weight: 200;
    font-family: "Dancing Script", cursive;
}

.btn-join {
    background: rgba(230, 83, 60, 1);
    width: 224px;
    height: 54px;
    padding: 16px 40px 16px 40px;
    gap: 10px;
    border-radius: 42px;
    color: rgba(255, 255, 255, 1);
    border: 1px solid rgba(230, 83, 60, 1);
    margin: 28px 14px 0 0;
}

.btn-apps {
    width: 224px;
    height: 54px;
    padding: 16px 40px 16px 40px;
    gap: 10px;
    border-radius: 42px;
    border: 1px solid rgba(255, 255, 255, 1);
    background: rgb(18, 14, 14);
    color: rgba(255, 255, 255, 1);
}

.image-bannar img {
    width: 349px;
    height: 553px;
    top: 135px;
    left: 877px;
    margin-left: 88px;
}


.free-video {
    width: 193px;
    height: 98px;
    top: 120px;
    left: 1120px;
    border-radius: 12px;
    color: rgba(255, 255, 255, 1);
    border: 1px solid rgba(255, 255, 255, 0.1);
    background: rgba(255, 255, 255, 0.1);
    position: absolute;
}

.free-video h3 {
    font-size: 2.5rem;
    font-weight: 900;
    text-align: center;
    margin-top: 10px;
}

.free-video p {
    font-size: 13px;
    font-weight: 400;
    text-align: center;
}

.freevideo {
    position: absolute;
    width: 193px;
    height: 98px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background: rgba(255, 255, 255, 0.1);
    left: 764px;
    top: 400px;
    border-radius: 12px;

}

.freevideo h5 {
    font-size: 1.5rem;
    font-weight: 900;
    text-align: center;
    margin-top: 20px;
    color: rgba(250, 250, 249, 1);
}

.ball {
    width: 30px;
    height: 30px;
    border: 1px solid red;
    border-radius: 50%;
    background: red;
    position: absolute;
    margin-top: 35px;
    margin-left: 20px;
}

.freevideo p {
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    margin-top: 7px;
    color: rgba(239, 237, 232, 0.65);
    margin-left: 30px;
}

/* habit style */

.habits-container {
    width: 1044px;
    height: 452px;
    margin: 0 auto;
    margin-top: 100px;
    color: rgba(255, 255, 255, 1);
}

.habit-title {
    width: 671px;
    height: 120px;
    margin: 0 auto;
    text-align: center;
}

.habit-title h2 {
    font-size: 3rem;
    font-weight: 900;
}

.habit-title p {
    font-size: 14px;
    font-weight: 400;
    margin-top: 14px;
}

.habit-image {
    width: 1044px;
    height: 274px;
    margin-top: 58px;
    gap: 40px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.habit-image img {
    width: 180px;
    height: 180px;
    margin: 0 25.5px 30px 25.5px;
    border-radius: 50%;
}

.img-content h4 {
    font-size: 1.125rem;
    font-weight: 600;
    text-align: center;
}

.img-content p {
    font-size: 14px;
    font-weight: 400;
    margin-top: 14px;
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
}


/* runing side desing here */

.runig-container {
    width: 1060px;
    height: 371px;
    margin: 0 auto;
    margin-top: 100px;
    display: flex;
    background-color: rgba(34, 34, 34, 1);
    border-radius: 18px;
    margin-bottom: 88px;
}

.runig-title {
    width: 443px;
    height: 290px;
    margin: 41px 0 40px 54px;
}

.runig-title h2 {
    font-size: 3rem;
    font-weight: 900;
    color: #FFFFFF;
}

.runig-title p {
    font-size: 14px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    margin-top: 14px;

}

.runig-image img {
    width: 366px;
    height: 312px;
    border-radius: 18px;
    opacity: 0px;
    margin: 30px 32px 29px 165px;
}

.btn {
    width: 224px;
    height: 54px;
    font-size: 1rem;
    padding: 16px 40px;
    margin-top: 34px;
    gap: 10px;
    border-radius: 42px;
    background: rgba(230, 83, 60, 1);
    border: 1px solid rgba(230, 83, 60, 1);
    color: rgba(255, 255, 255, 1);
}


/* BMI calclusion here */

.BMI-Calclusion {
    width: 1440px;
    height: 487px;
    margin: 0 auto;
    background-color: rgba(34, 34, 34, 1);
    margin-bottom: 100px;
}

.BMI-cal-title {
    width: 671px;
    height: 120px;
    margin: 0 auto;
    margin-top: 88px;
    margin-bottom: 88px;
}

.BMI-cal-title h1 {
    color: rgba(255, 255, 255, 1);
    font-size: 3rem;
    margin-top: 5px;
}

.BMI-cal-title p {
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    margin-top: 14px;
}

table {
    color: rgba(239, 237, 232, 0.65);
}

.BMI-List-form {
    width: 1460px;
    height: 535px;
    display: flex;
    margin-left: 70px;
}

.BMI-table h3 {
    font-size: 1.75rem;
    font-weight: 900;
    color: rgba(250, 250, 249, 1);
    margin-top: 52px;
    margin-bottom: 52px;
}

.BMI-table {
    width: 600px;
    height: 533px;
}


.BMI-form {
    width: 577px;
    height: 386px;
    margin-left: 7rem;
}

table{
    width: 310px;
    height: 216px;
    text-align: center;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-collapse: collapse;
    
}
th{
    color: rgba(255, 255, 255, 1);
    padding: 10px;
}
td{
    color: rgba(255, 255, 255, 0.5);
    padding: 10px;
}
.BMI-form h3 {
    font-size: 1.75rem;
    font-weight: 900;
    color:rgba(255, 255, 255, 1);
    margin-top:49px;
}

.BMI-form p {
    font-size: 14px;
    font-weight: 400;
    color: rgba(239, 237, 232, 0.65);
    margin-top:14px;
    margin-bottom: 34px;
}

.input-form input {
    padding: 12px;
    border-radius: 8px;
    margin-bottom: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    color: rgba(239, 237, 232, 0.65);
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.input-form select {
    padding: 12px;
    padding-right: 133px;
    border-radius: 8px;
    margin-bottom: 10px;
    color: rgba(255, 255, 255, 0.3);
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.1);
}

#select {
    padding-right: 212px;
    color: rgba(255, 255, 255, 0.3);
}

.btn-cal {
    width: 180px;
    height: 50px;
    font-size: 1rem;
    margin-top: 34px;
    gap: 10px;
    border-radius: 42px;
    background: rgba(230, 83, 60, 1);
    border: 1px solid rgba(230, 83, 60, 1);
    color: rgba(255, 255, 255, 1);
}

/* our team side style here */
.team-container {
    width: 1060px;
    height: 782px;
    margin: 0 auto;

}

.team-content {
    width: 671px;
    height: 120px;
    margin-bottom: 58px;
    margin: 0 auto;
    text-align: center;
    color: rgba(255, 255, 255, 1);

}

.team-content h2 {
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 14px;
}

.team-content p {
    font-size: 14px;
    font-weight: 400;
    color: #FFFFFF80;
}

.image-container {
    width: 1060px;
    height: 604px;
    margin-top: 48px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: #FFFFFF1A;
    border-radius: 10px;
}

.image-container img {
    width: 326.67px;
    height: 272px;
    border-radius: 18px;
    margin-left: 12px;
    margin-top: 16px;
}

.image-1 {
    position: relative;
}

.image-1 h4 {
    position: absolute;
    margin-top: -85px;
    margin-left: 35px;
    color: rgba(250, 250, 249, 1);
    font-size: 1.5rem;
}

.image-1 p {
    position: absolute;
    margin-top: -50px;
    margin-left: 35px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.2rem;
}

.image-2 {
    position: relative;
}

.image-2 h4 {
    position: absolute;
    margin-top: -85px;
    margin-left: 35px;
    color: rgba(250, 250, 249, 1);
    font-size: 1.5rem;
}

.image-2 p {
    position: absolute;
    margin-top: -50px;
    margin-left: 35px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.2rem;
}

.image-3 {
    position: relative;
}

.image-3 h4 {
    position: absolute;
    margin-top: -85px;
    margin-left: 35px;
    color: rgba(250, 250, 249, 1);
    font-size: 1.5rem;
}

.image-3 p {
    position: absolute;
    margin-top: -50px;
    margin-left: 35px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.2rem;
}

.image-4 {
    position: relative;
}

.image-4 h4 {
    position: absolute;
    margin-top: -85px;
    margin-left: 35px;
    color: rgba(250, 250, 249, 1);
    font-size: 1.5rem;
}

.image-4 p {
    position: absolute;
    margin-top: -50px;
    margin-left: 35px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.2rem;
}

.image-5 {
    position: relative;
}

.image-5 h4 {
    position: absolute;
    margin-top: -85px;
    margin-left: 35px;
    color: rgba(250, 250, 249, 1);
    font-size: 1.5rem;
}

.image-5 p {
    position: absolute;
    margin-top: -50px;
    margin-left: 35px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.2rem;
}

.image-6 {
    position: relative;
}

.image-6 h4 {
    position: absolute;
    margin-top: -85px;
    margin-left: 35px;
    color: rgba(250, 250, 249, 1);
    font-size: 1.5rem;
}

.image-6 p {
    position: absolute;
    margin-top: -50px;
    margin-left: 35px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.2rem;
}

/* footer site design */

.footer-container {
    width: 1460px;
    height: 489px;
    margin: 0 auto;
    margin-top: 88px;
}

.footer-content {
    width: 1059px;
    height: 249px;
    margin: 66px 191px 174px 190px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.footer-1 {
    width: 443px;
    height: 143px;
    gap: 20px;
    margin: 0 73px 102px 0;

}

.footer-1 h2 {
    font-size: 70px;
    font-style: italic;
    font-weight: 800;
    line-height: 84px;
    color: #E6533C;
}

.footer-1 p {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #FFFFFF80;
}

.footer-2 {
    width: 181px;
    height: 249px;
    gap: 39px;
    margin-right: 152px;
}

.footer-2 h3 {
    font-size: 32px;
    font-weight: 700;
    line-height: 38.4px;
    margin-bottom: 39px;
    color: rgba(255, 255, 255, 1);

}

.footer-2 h5 {
    list-style-type: none;
    font-size: 23px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 20px;

}

.footer-3 {
    width: 181px;
    height: 249px;
    gap: 39px;
}

.footer-3 h3 {
    font-size: 32px;
    font-weight: 700;
    line-height: 38.4px;
    margin-bottom: 39px;
    color: rgba(255, 255, 255, 1);

}

.footer-3 h5 {
    list-style-type: none;
    color: rgba(255, 255, 255, 0.5);
    font-size: 23px;
    font-weight: 400;
    margin-bottom: 20px;

}

.ftr-hr {
    width: 1059.5px;
    margin-top: 79px;
    margin: 0 auto;

}

.ftr {
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
    margin-top: 14px;
}
.hams{
    color: white;
    display: none;
}